<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Klinika.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Klinika.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>klinika</value>
            </setting>
            <setting name="userID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="paswd" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
        </Klinika.Properties.Settings>
    </applicationSettings>
</configuration>